@page "/admin/course"
@inject NavigationManager _navigation

<div>
    @if(Courses != null)
    {
        <table>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Уроки</th>
                <th>Детали</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            @foreach (var item in Courses)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td><button @onclick="() => HandleLessonsClick(item.Id)">Уроки</button></td>
                    <td><button @onclick="() => HandleTestsClick(item.Id)"></button></td>
                    <td><button @onclick="() => HandleDetailsClick(item.Id)">Детали</button></td>
                    <td><button @onclick="() => HandleEditClick(item.Id)">Изменить</button></td>
                    <td><button @onclick="() => HandleDeleteClick(item.Id)">Удалить</button></td>
                </tr>
            }
        </table>
    } else
    {
        <p>Здесь ничего нет</p>
    }

    <br />
    <button @onclick="() => HandleCreateClick()">Создать пользователя</button>
</div>

@code {
    [Inject]
    ICourseRepository _courseRepository { get; set; }

    ICollection<CourseDto> Courses { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Courses = await _courseRepository.GetAllCourses();
    }

    void HandleLessonsClick(int? id)
    {
        _navigation.NavigateTo($"/admin/lesson/{id}");
    }

    void HandleTestsClick(int? id)
    {
        _navigation.NavigateTo($"/admin/test/{id}");
    }

    void HandleDetailsClick(int? id)
    {
        _navigation.NavigateTo($"/admin/course/{id}");
    }

    void HandleEditClick(int? id)
    {
        _navigation.NavigateTo($"/admin/course/edit/{id}");
    }

    void HandleDeleteClick(int? id)
    {
        _navigation.NavigateTo($"/admin/course/delete/{id}");
    }

    void HandleCreateClick()
    {
        _navigation.NavigateTo("/admin/course/create");
    }
}
