@page "/admin/video/create/{CourseId:int}/{LessonId:int}"
@inject NavigationManager _navigation

<div>
    <EditForm Model="Model" OnSubmit="() => Submit()">
        <div class="form-control">
            <label>Видео</label>
            <InputFile OnChange="@HandleFileInput" />
        </div>
        <br />
        <button type="submit" class="btn btn-info">Создать</button>
    </EditForm>
</div>

@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int LessonId { get; set; }

    [Inject]
    IVideoRepository _videoRepository { get; set; }

    VideoDto Model { get; set; }

    IBrowserFile File { get; set; }

    protected override void OnInitialized() => Model ??= new();

    void HandleFileInput(InputFileChangeEventArgs e)
    {
        File = e.File;
        this.StateHasChanged();
    }

    async Task Submit()
    {
        Stream stream = File.OpenReadStream();
        MemoryStream ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        stream.Close();

        Model.VideoName = File.Name;
        Model.VideoContent = ms.ToArray();
        ms.Close();

        _videoRepository.Create(Model, CourseId, LessonId);

        _navigation.NavigateTo($"/admin/video/{CourseId}/{LessonId}");
    }
}
