@page "/about"

<PageTitle>О Нас</PageTitle>

<div style="padding: 60px 120px;">
    <div style="background-color: white; border: 5px solid red; border-radius: 10px; padding: 20px;">

    </div>
</div>

@code {

}
