@page "/courses"
@inject NavigationManager _navigation

<PageTitle>Курсы</PageTitle>

<div style="padding: 60px 120px;">
    <div style="background-color: white; border: 5px solid red; border-radius: 10px;">
        <h2>
            Курсы
        </h2>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
            @foreach(var item in Model)
            {
                <div>
                    <img /><br />
                    <h3>@item.Name</h3>
                    <p>@item.Description</p>
                    <button @onclick="() => GoToCourse(item.Id)">Перейти</button>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Inject]
    ICourseRepository _courseRepository { get; set; }

    ICollection<CourseDto> Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _courseRepository.GetAllCourses();
    }

    void GoToCourse(int? id)
    {
        _navigation.NavigateTo($"/course/{Id}");
    }
}
