@page "/"
@inject NavigationManager _navigation

<PageTitle>Index</PageTitle>

<div style="margin: 60px 120px;">
    <div style="background-color: white; border: 5px solid green; border-radius: 10px; padding: 10px;">
        <h1 style="text-align: center;">
            Добро пожаловать<br>в образовательный портал<br>ProgrammingPro!
        </h1>
    </div>
    <div style="background-color: white; border: 5px solid red; border-radius: 10px; padding: 10px;">
        <h2 style="text-align: center;">Курсы</h2>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
            @if(Courses != null)
            {
                @foreach (var item in Courses)
                {
                    <div>
                        <img src="@item.ImgName" /><br />
                        <h3>@item.Name</h3>
                        <p>@item.Description</p>
                        <button @onclick="() => GoToCourse(item.Id)">Перейти</button>
                    </div>
                }
            }
        </div>
    </div>
    <div style="background-color: white; border: 5px solid blue; border-radius: 10px; padding: 10px;">
        <h2 style="text-align: center;">Мои курсы</h2>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">

        </div>
    </div>
</div>

@code {
    [Inject]
    ICourseRepository _courseRepository { get; set; }

    ICollection<CourseDto> Courses { get; set; }

    [Inject]
    IUserCourseRepository _userCourseRepository { get; set; }

    ICollection<UserCourseDto> UserCourses { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Courses = await _courseRepository.GetAllCourses();
    }

    void GoToCourse(int? id)
    {
        _navigation.NavigateTo($"/course/{id}");
    }
}