@page "/my-courses"

<PageTitle>Мои курсы</PageTitle>

<div style="padding: 60px 120px;">
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
        @foreach(var item in UserCourses)
        {
            <div>
                <h1></h1>
            </div>
        }
    </div>
</div>

@code {
    [Inject]
    IUserCourseRepository _userCourseRepository { get; set; }

    ICollection<UserCourseDto> UserCourses { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UserCourses = await _userCourseRepository.GetAllUserCourses();
    }
}
