@page "/register"
@inject NavigationManager _navigation

<div style="padding: 60px 120px;">
    <div style="margin: auto; width: 500px;">
        <EditForm Model="@Model" OnSubmit="@Submit">
            <div class="form-control">
                <label>Имя</label>
                <input class="form-control" @bind-value="Model.FirstName" />
            </div>
            <div class="form-control">
                <label>Фамилия</label>
                <input class="form-control" @bind-value="Model.LastName" />
            </div>
            <div class="form-control">
                <label>Email</label>
                <input class="form-control" @bind-value="Model.Email" />
            </div>
            <div class="form-control">
                <label>Логин</label>
                <input class="form-control" @bind-value="Model.UserName" />
            </div>
            <div class="form-control">
                <label>Пароль</label>
                <input class="form-control" @bind-value="Model.Password" />
            </div>
            <div class="form-control">
                <label>Повтор пароля</label>
                <input class="form-control" @bind-value="Model.ConfirmPassword" />
            </div>
            <button type="submit">Зарегистрироваться</button>
        </EditForm>
        <p class="text-danger">@WarningMessage</p>
    </div>
</div>

@code {
    [Inject]
    IUserRepository _userRepository { get; set; }

    UserDto Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    string WarningMessage { get; set; }

    async Task Submit()
    {
        var exists = await _userRepository.UserExists(Model);
        if(exists == false)
        {
            Model.Role = "User";
            _userRepository.Create(Model);
            _navigation.NavigateTo("/login");
            WarningMessage = "";
        }
        else
        {
            WarningMessage = "Пользователь с таким логином уже существует";
        }
    }
}
