@page "/admin/material/create/{CourseId:int}/{LessonId:int}/{HomeworkId}"
@inject NavigationManager _navigation

<div>
    <EditForm Model="Model" OnSubmit="() => Submit()">
        <div class="form-control">
            <label>Название материала</label>
            <InputFile OnChange="@HandleFileInput" />
        </div>
        <br />
        <button type="submit" class="btn btn-info">Создать</button>
    </EditForm>
</div>

@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int LessonId { get; set; }

    [Parameter]
    public int HomeworkId { get; set; }

    [Inject]
    IMaterialRepository _materialRepository { get; set; }

    MaterialDto Model { get; set; }

    IBrowserFile File { get; set; }

    protected override void OnInitialized() => Model ??= new();

    void HandleFileInput(InputFileChangeEventArgs e)
    {
        File = e.File;
        this.StateHasChanged();
    }

    async Task Submit()
    {
        Stream stream = File.OpenReadStream();
        MemoryStream ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        stream.Close();

        Model.MaterialName = File.Name;
        Model.MaterialContent = ms.ToArray();
        ms.Close();

        _materialRepository.Create(Model, CourseId, LessonId, HomeworkId);

        _navigation.NavigateTo($"/admin/material/{CourseId}/{LessonId}/{HomeworkId}");
    }
}
