@page "/admin/material/delete/{CourseId:int}/{LessonId:int}/{HomeworkId:int}/{Id:int}"
@inject NavigationManager _navigation

<div>
    <EditForm Model="Model" OnSubmit="() => Submit()">
        <div class="form-control">
            <label>Название материала</label>
            <InputFile OnChange="@HandleFileInput" disabled />
        </div>
        <br />
        <button type="submit" class="btn btn-danger">Удалить</button>
    </EditForm>
</div>


@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int LessonId { get; set; }

    [Parameter]
    public int HomeworkId { get; set; }

    [Parameter]
    public int Id { get; set; }

    [Inject]
    IMaterialRepository _materialRepository { get; set; }

    MaterialDto Model { get; set; }

    IBrowserFile File { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _materialRepository.GetMaterialById(CourseId, LessonId, HomeworkId, Id);
    }

    void HandleFileInput(InputFileChangeEventArgs e)
    {
        File = e.File;
        this.StateHasChanged();
    }

    void Submit()
    {
        _materialRepository.Delete(Id);

        _navigation.NavigateTo($"/admin/material/{CourseId}/{LessonId}/{HomeworkId}");
    }
}
