@page "/lesson/{CourseId:int}/{Id:int}"
@inject NavigationManager _navigation

<PageTitle>@Model.Title</PageTitle>

<div style="padding: 60px 120px;">
    <div style="background-color: white; border: 5px solid red; border-radius: 10px; padding: 20px;">
        <h1 style="text-align: center;">@Model.Title</h1>
        <p>@Model.Text</p>
        <div style="text-align: center;">
            <button @onclick="() => GoBack()">Назад</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int Id { get; set; }

    [Inject]
    ILessonRepository _lessonRepository { get; set; }

    LessonDto Model { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Model = await _lessonRepository.GetLessonById(CourseId, Id);
    }

    void GoBack()
    {
        _navigation.NavigateTo($"/course/{CourseId}");
    }
}
