@page "/admin/lesson/delete/{CourseId:int}/{Id:int}"
@inject NavigationManager _navigation

<div>
    <p class="text-danger">Вы уверены, что хотите удалить данный урок?</p>
    <EditForm Model="Model" OnSubmit="() => Submit()">
        <div class="form-control">
            <label>Заголовок</label>
            <input class="form-control" @bind-value="Model.Title" />
        </div>
        <div class="form-control">
            <label>Текст</label>
            <input class="form-control" @bind-value="Model.Text" />
        </div>
        <br />
        <button type="submit" class="btn btn-danger">Удалить</button>
    </EditForm>
</div>


@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int Id { get; set; }

    [Inject]
    ILessonRepository _lessonRepository { get; set; }

    LessonDto Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _lessonRepository.GetLessonById(CourseId, Id);
    }

    void Submit()
    {
        _lessonRepository.Delete(Id);

        _navigation.NavigateTo($"/admin/lesson/{CourseId}");
    }
}
