@page "/admin/lesson/details/{CourseId:int}/{Id:int}"

<table>
    <tr>
        <th>Заголовок</th>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <th>Текст</th>
        <td>@Model.Text</td>
    </tr>
</table>

@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int Id { get; set; }

    [Inject]
    ILessonRepository _lessonRepository { get; set; }

    LessonDto Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _lessonRepository.GetLessonById(CourseId, Id);
    }
}
