@page "/admin/lesson/{CourseId:int}"
@inject NavigationManager _navigation

<div>
    @if(Lessons != null)
    {
        <table>
            <tr>
                <th>Заголовок</th>
                <th>Текст</th>
                <th>Документы</th>
                <th>Видео</th>
                <th>Домашние задания</th>
                <th>Детали</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            @foreach (var item in Lessons)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Text</td>
                    <td><button @onclick="() => HandleDocsClick(item.Id)">Документы</button></td>
                    <td><button @onclick="() => HandleVideosClick(item.Id)">Видео</button></td>
                    <td><button @onclick="() => HandleHomeworksClick(item.Id)">Домашние задания</button></td>
                    <td><button @onclick="() => HandleDetailsClick(item.Id)">Детали</button></td>
                    <td><button @onclick="() => HandleEditClick(item.Id)">Изменить</button></td>
                    <td><button @onclick="() => HandleDeleteClick(item.Id)">Удалить</button></td>
                </tr>
            }
        </table>
    } else
    {
        <p>Здесть ничего нет</p>
    }

    <br />
    <button @onclick="() => HandleCreateClick()">Создать пользователя</button>
</div>

@code {
    [Parameter]
    public int CourseId { get; set; }

    [Inject]
    ILessonRepository? _lessonRepository { get; set; }

    ICollection<LessonDto>? Lessons { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Lessons = await _lessonRepository.GetAllLessons(CourseId);
    }

    void HandleDocsClick(int? id)
    {
        _navigation.NavigateTo($"/admin/doc/{CourseId}/{id}");
    }

    void HandleVideosClick(int? id)
    {
        _navigation.NavigateTo($"/admin/video/{CourseId}/{id}");
    }

    void HandleHomeworksClick(int? id)
    {
        _navigation.NavigateTo($"/admin/homework/{CourseId}/{id}");
    }

    void HandleDetailsClick(int? id)
    {
        _navigation.NavigateTo($"/admin/lesson/{CourseId}/{id}");
    }

    void HandleEditClick(int? id)
    {
        _navigation.NavigateTo($"/admin/lesson/edit/{CourseId}/{id}");
    }

    void HandleDeleteClick(int? id)
    {
        _navigation.NavigateTo($"/admin/lesson/delete/{CourseId}/{id}");
    }

    void HandleCreateClick()
    {
        _navigation.NavigateTo($"/admin/lesson/create/{CourseId}");
    }
}
