@page "/admin/doc/delete/{CourseId:int}/{LessonId:int}/{Id:int}"
@inject NavigationManager _navigation

<div>
    <EditForm Model="Model" OnSubmit="() => Submit()">
        <div class="form-control">
            <label>Документ</label>
            <InputFile OnChange="@HandleFileInput" disabled />
        </div>
        <br />
        <button type="submit" class="btn btn-danger">Удалить</button>
    </EditForm>
</div>


@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int LessonId { get; set; }

    [Parameter]
    public int Id { get; set; }

    [Inject]
    IDocRepository _docRepository { get; set; }

    DocDto Model { get; set; }

    IBrowserFile File { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _docRepository.GetDocById(CourseId, LessonId, Id);
    }

    void HandleFileInput(InputFileChangeEventArgs e)
    {
        File = e.File;
        this.StateHasChanged();
    }

    void Submit()
    {
        _docRepository.Delete(Id);

        _navigation.NavigateTo($"/admin/doc/{CourseId}/{LessonId}");
    }
}
