@page "/admin/user/delete/{Id:int}"
@inject NavigationManager _navigation

<div>
    <EditForm Model="Model" OnSubmit="() => Submit()">
        <div class="form-control">
            <label>Имя</label>
            <input class="form-control" @bind-value="Model.FirstName" disabled />
        </div>
        <div class="form-control">
            <label>Фамилия</label>
            <input class="form-control" @bind-value="Model.LastName" disabled />
        </div>
        <div class="form-control">
            <label>Email</label>
            <input class="form-control" @bind-value="Model.Email" disabled />
        </div>
        <div class="form-control">
            <label>Имя пользователя</label>
            <input class="form-control" @bind-value="Model.UserName" disabled />
        </div>
        <br />
        <button type="submit" class="btn btn-danger">Удалить</button>
    </EditForm>
</div>


@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    IUserRepository _userRepository { get; set; }

    UserDto Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _userRepository.GetUserById(Id);
    }

    void Submit()
    {
        _userRepository.Delete(Id);

        _navigation.NavigateTo("/admin/user");
    }
}
