@page "/admin/user/details/{Id:int}"

<table>
    <tr>
        <th>Имя</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Фамилия</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Имя пользователя</th>
        <td>@Model.UserName</td>
    </tr>
</table>

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    IUserRepository _userRepository { get; set; }

    UserDto Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _userRepository.GetUserById(Id);
    }
}
