<div style="position: absolute; bottom: 0; width: 100%; height: max-content; background-color: darkblue; text-align: center; color: white;">
    <nav>
        <ul style="list-style-type: none;">
            <li><a style="text-decoration: none; color: inherit;" href="/">Главная</a></li>
            <li><a style="text-decoration: none; color: inherit;" href="/courses">Курсы</a></li>
            <li><a style="text-decoration: none; color: inherit;" href="/my-courses">Мои курсы</a></li>
            <li><a style="text-decoration: none; color: inherit;" href="/about">О нас</a></li>
            <li><a style="text-decoration: none; color: inherit;" href="/contacts">Контакты</a></li>
        </ul>
    </nav>
</div>

@code {
    
}
