@inject NavigationManager _navigation

<div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
    <nav></nav>
    <nav>
        <button class="btn-info text-white" @onclick="() => GoToAdmin()">АДМИН</button>
    </nav>
</div>

@code {
    void GoToAdmin()
    {
        _navigation.NavigateTo("admin/course");
    }
}